* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

img,
video {
  display: block;
}

html {
  --color-main: #515050;
  --color-secondary: #fff;
  --color-text-main: #000000;
  --color-text-secondary: #515050;
  --color-background: #bcbfc3;
  --color-background-secondary: #fff;
  --color-blue: #279ef8;
  --color-yellow: #f8af27;
  --color-green: #12965d;
  --color-red: #f82727;
  --color-button: #;
  --color-blue-card: #279ef8;
  --color-yellow-card: #f8af27;
  --color-green-card: #12965d;
  --color-red-card: #f82727;
}

html[data-theme="light"] {
  --color-main: #fff;
  --color-secondary: #515050;
  --color-text-main: #fff;
  --color-text-secondary: #f7f6f6;
  --color-background: #696a6c;
  --color-background-secondary: #515050;
  --color-blue: #a3d7ff;
  --color-yellow: #f7f43e;
  --color-green: #76e5b5;
  --color-red: #f8a7a7;
}

header {
  background-color: var(--color-background);
  height: 89px;
}

html[data-theme="dark"] #darkmode {
  display: none;
}

html[data-theme="light"] #lightmode {
  display: none;
}

h1 {
  color: var(--color-text-main);
  font-family: "Caesar Dressing";
  font-size: 40px;
  font-weight: 400;
}

h2 {
  color: var(--color-main);
  font-family: "Caesar Dressing";
  font-size: 32px;
  font-weight: 400;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding-top: 109px;
}

body {
  background: var(--color-background-secondary);
}
