* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

html {
  --color-main: #515050;
  --color-secondary: #000000;
  --color-black: #000000;
}

html[data-theme="light"] {
  --color-main: #bcbfc3;
  --color-secondary: #ffffff;
}

header {
  background-color: var(--color-main);
}

html[data-theme="dark"] #darkmode {
  display: none;
}

html[data-theme="light"] #lightmode {
  display: none;
}

.row {
  background: #515050;
  border: solid 1px #000000;
}

h1 {
  color: var(--color-black);
  font-family: "Caesar Dressing";
  font-size: 40px;
  font-weight: 400;
}

h2 {
  color: var(--color-main);
  font-family: "Caesar Dressing";
  font-size: 32px;
  font-weight: 400;
}
