* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

html {
  --color-main: #515050;
  --color-secondary: #000000;
}

html[data-theme="light"] {
  --color-main: #bcbfc3;
  --color-secondary: #ffffff;
}

header {
  background-color: var(--color-main);
}

html[data-theme="dark"] #darkmode {
  display: none;
}

html[data-theme="light"] #lightmode {
  display: none;
}

.row {
  background: #515050;
  border: solid 1px #000000;
}
