.l-reseaux {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.l-liens {
  display: flex;
  justify-content: space-between;
}

.l-h2 {
  padding-bottom: 24px;
}

.l-en-savoir-plus {
  display: flex;
  justify-content: space-between;
  width: stretch;
}
