.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid var(--color-blue-card, #279ef8);
  background: var(--color-secondary);
  margin-bottom: 20px;
}

.textes {
  display: flex;
  justify-content: space-between;
}

.image-bas {
  display: flex;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-self: stretch;
}

.card h2 {
  background: var(--color-secondary);
  display: inline-block;
}

.card h3 {
  color: var(--color-main, #515050);
  font-family: "Bubbler One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card p {
  color: var(--color-main);
  font-family: "Bubbler One";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.image-haut {
  display: flex;
  justify-content: space-between;
  background-image: url("../../Image/dieux/athena.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 216px;
  overflow: hidden;
  padding-top: 12px;
  padding-right: 12px;
}

.nom {
  display: flex;
  flex-direction: column-reverse;
}

.favoris {
  display: flex;
  flex-direction: row-reverse;
}
