footer {
  display: flex;
  padding: 20px 12px;
  flex-direction: column;
  gap: 20px;
  background: var(--color-background);
}

footer a {
  font-family: "Bubbler One";
  font-size: 20px;
  font-weight: 400;
  color: var(--color-text-main);
}

footer p {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  align-self: stretch;
  border-top: 1px solid var(--color-text-main);
  color: var(--color-text-main);
  font-family: "Bubbler One";
  font-size: 16px;
  font-weight: 400;
}
