.pantheons-populaires {
  margin-bottom: 40px;
}

.pantheons-populaires h2 {
  font-family: "Bubbler One";
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 12px;
}

.pantheons-populaires h3 {
  color: var(--color-main);
  font-family: "Caesar Dressing";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--color-secondary);
}

.pantheons-populaires a {
  display: flex;
  padding: 12px 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--color-blue);
  justify-content: space-between;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pantheons-populaires li:nth-child(2) a {
  background-color: var(--color-yellow);
}

.pantheons-populaires ul li:nth-child(3) a {
  background-color: var(--color-green);
}

.pantheons-populaires ul li:nth-child(4) a {
  background-color: var(--color-red);
}
